<div class="d-flex justify-content-center">
  <div class="card mt-3 text-dark texte-center" style="width: 500px;">
    
    <div class="card-header">
      <h1>Login</h1>
    </div>

    <div class="card-body">
      <form mehod="post">
        <div class="form-group">
          <label for="">E-mail</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="email@teste.com"
            required
            autofocus
          />
          </div>

          <div class="form-group my-3">
            <label for="">Senha</label>
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="*********"
              required
            />
          </div>

          <button type="submit" class="btn btn-lg btn-dark"> Entrar </button>
        </form>
    </div>
    </div>
</div>
