<h1>Hello world</h1>
<hr />

<section id="testimonies">
  <div class="card text-dark mb-3">
    <h5 class="card-header">Lucas Arantes <small> 30/11/2023 </small></h5>
    <div class="card-body">
      Feedbacks sobre tickets são cruciais para aprimorar o suporte ao cliente.
      Cada depoimento fornece insights valiosos, identificando áreas de melhoria
      e fortalecendo o relacionamento. Esses testemunhos destacam o
      comprometimento da equipe em resolver as necessidades dos clientes,
      construindo confiança e fidelidade. A transparência nos depoimentos
      demonstra que a empresa valoriza a opinião dos clientes e está sempre em
      busca de aprimoramento. Essa retroalimentação contínua é essencial para
      medir a satisfação do cliente, indicando o que está funcionando bem e onde
      podem ser feitas melhorias. Em resumo, os depoimentos de tickets são uma
      ferramenta valiosa para a excelência no atendimento, criando uma narrativa
      que destaca desafios e soluções proativas.
    </div>
<hr>
    <div class="card text-dark mb-3">
        <h5 class="card-header">Lucas Arantes <small> 30/11/2023 </small></h5>
        <div class="card-body">A gestão eficiente de tickets, combinada ao uso estratégico de boards e listas, 
            desempenha um papel fundamental na otimização do suporte. 
            Ao empregar boards para visualizar o progresso de cada ticket e listas para organizar prioridades, 
            a equipe pode operar de maneira mais coordenada e ágil.
            <p>Essas ferramentas, quando integradas, permitem identificar padrões e tendências nos desafios enfrentados pelos clientes,
             proporcionando uma visão mais holística.</p>              
        </div>
    
  </div>
</section>

<hr>

<section id="form">

    <h3>Envie seu depoimento</h3>

    <form method="post">

        <div class="form-group">
            <label> Nome </label>
           <input type="text" class="form-control" name="nome" required>
        </div>

        <div class="form-group">
            <label> Mensagem </label>
           <textarea class="form-control" name="mensagem"  rows=5" required></textarea>
        </div>

        <div class="form-group mt-3">

            <button type="submit" class="btn btn-success">Enviar</button>

        </div>

    </form>

</section>